.arrow {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
  margin: 0 10px;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}


.attendance {
  width: 90%;
  margin: 0 auto;
}

.attendance-table_row {
  border-top: solid 1px #dcdcdc;
  padding: 20px 50px 20px 32px;
  display: flex;
  justify-content: space-around;
}

.attendance-table_header {
  font-weight: bold;
  font-size: 18px;
}